{{#unless candidate}}
<h2>That candidate couldn't be found!</h2>
{{else}}
<h2>{{candidate.name}} for President in {{candidate.year}}!</h2>
<form method="post" action="/candidates/{{candidate.name}}/delete">
  <button type="submit">Concede</button>
</form>
<form action="/candidates/{{candidate.name}}" method="post">
  <input type="text" name="candidate[name]" placeholder="Name" value="{{candidate.name}}" />
  <input type="number" name="candidate[year]" placeholder="Year" value="{{candidate.year}}" />
  <button type="submit">Edit Platform</button>
</form>

  {{#each candidate.positions as |position index|}}
  <p>{{position}}</p>
  <form action="/candidates/{{../candidate.name}}/positions/{{index}}" method="post">
    <button type="submit">Change your mind</button>
  </form>
  {{/each}}

  <form action="/candidates/{{candidate.name}}/positions" method="post">
    <textarea name="position"></textarea>
    <button type="submit">Add a position</button>
  </form>

{{/unless}}
