{{#unless candidate}}
<h2>That candidate couldn't be found!</h2>
{{else}}
<h2>{{candidate.name}} for President in {{candidate.year}}!</h2>
<form method="post" action="/candidates/{{candidate.name}}/delete">
  <button type="submit">Concede</button>
</form>
<form action="/candidates/{{candidate.name}}" method="post">
  <input type="text" name="candidate[name]" placeholder="Name" value="{{candidate.name}}" />
  <input type="number" name="candidate[year]" placeholder="Year" value="{{candidate.year}}" />
  <button type="submit">Edit Platform</button>
</form>
{{/unless}}
